<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="refresh" content="15" />
    <title>Auto Reload Data Project</title>
    <style>
      body {
        margin: 70px 10px 100px 10px;
      }
      h1 {
        padding-bottom: 50px;
        text-align: center;
        color: whitesmoke;
      }
      h2 {
        margin: auto;
        text-align: center;
        color: whitesmoke;
      }
      body {
        background-image: url("https://wallpaperaccess.com/full/791.jpg");
      }
      p {
        text-align: center;
        color: whitesmoke;
      }
    </style>
  </head>
  <body>
    <h1>Status Air dan Angin Saat ini</h1>
    <h2>Ketinggian Air: {{.water}} m</h2>
    <h2>Status: {{.statusWater}}</h2>
    <br />
    <h2>Kecepatan Angin: {{.wind}} m/s</h2>
    <h2>Status: {{.statusWind}}</h2>
    <p>CREATED BY AQILLA</p>
  </body>
</html>
